Les lois disent qu'un email est suffisant (<a href="<%= help_page_url(:anchor => 'full_address') %>">more details</a>).

Au bas de cette page, écrivez une réponse à l'autorité en leur expliquant cela.