<% @title = "غير راض على الإجابة التي تلقيّتها ؟" %>


<% if @info_request %>
  <h1> تعرّف على آليّة التظلّم لدى هيئة النفاذ إلى المعلومة '<%=request_link(@info_request) %>'?
  </h1>
<% else %>
  <h1>غير راض على الإجابة التي تلقيّتها ؟</h1>
<% end %>

<p> ﺇﺫﺍ لم تكن  راضيا عن إجابة الهيكل ﺃﻭ ﺇﺫﺍ لم تتحصّل على إجابة خلال المدّة القانونيّة 20 يوما فبإمكانك الإلتجاء إلى <b>  هيئة النفاذ إلى المعلومة </b> والتظّلم لديها بشأن مطلبك.  وتجدر الإشارة إلى أنّ ذلك ممكن في الحالات التالية : </p>

<ol>
  <li> أن ينضوي الهيكل ضمن قائمة الهياكل التي ينطبق عليها قانون النفاذ إلى المعلومة   </li>
  <li> أن يتّم توجيه مطلب التظّلم في أجل أقصاه 20 يوما من تاريخ الحصول على إجابة سلبيّة من الهيكل المعنيّ ﺃﻭ بإنقضاء الآجال القانونيّة. </li>
</ol>




<p> منصّة {{site_name}} لم تصمّم بعد للتعامل مع إجراءات التظّلم وعليه يرجى إرسال مطالب التظلّم مباشرة إلى <b>  هيئة النفاذ إلى المعلومة </b> عن طريق البريد الألكتروني أو البريد.</p>

<p>كما تجدر الإشارة إلى أنّه يمكنك إرسال مطلب مراجعة أو إعادة نظر إلى الهيكل بإستعمال منصّة {{site_name}}. لإجراء ذلك الرجاء النقر على الرابط "طلب إعادة النظر" أسفل الصفحة </p>
